<?xml version="1.0"?>
<Root>
    <Configuration name="Foreign Language">
        <Field name="Question" addmode="Ignore">
            <Mod>ctrl</Mod>
            <Key>B</Key>
            <DataProvider>Clipboard</DataProvider>
        </Field>
        <Field name="Answer" addmode="Write">
            <ObservableField>Question</ObservableField>
            <DataProvider>Googletranslate</DataProvider>
        </Field>
    </Configuration>
</Root>