<?xml version="1.0"?>
<Root>
    <Configuration name="Foreign Language">
        <Field name="Question" addmode="Ignore">
            <Key1>Ctrl</Key1>
            <Key2>B</Key2>
        </Field>
        <Field name="Answer" addmode="Write">
            <ObservableField>Question</ObservableField>
            <DataProvider>GoogleTranslate</DataProvider>
        </Field>
    </Configuration>
</Root>